@import './theme.css';
@import './grid.css';

:root {
  /* Reduce the gigantic margins everywhere */
  --spacing: 0.3rem;
  --font-family: 'Trebuchet MS', sans-serif;
}

/* Restore some of the lost padding */
nav>ul,
article>header,
article>* {
  padding-left: 1em;
  padding-right: 1em;
}

/* Add some padding to grids */
.grid,
.button-grid {
  padding: 1em;
}

/* Red and green accents */
.red {
  background-color: darkred;
  border-color: darkred;
}

.green {
  background-color: darkgreen;
  border-color: darkgreen;
}

/* Component transitions */
.v-enter-active,
.v-leave-active {
  transition: opacity 0.3s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}